.countries-search {
    text-align: center;
    input {
        font-family: callunaregular, Arial;
        padding: 8px 0 8px 8px;
        font-size: 1rem;
        background: white;
        border: 1px solid black;
        outline: 0;
        margin: 10px;
        width: 400px;
    }
}
